/* -----WAREHOUSE------ */
.stocks-table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .stocks-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .stocks-table tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .stocks-table td:first-child, td:last-child, th:nth-child(2), th:last-child {
    text-align: center;
  }

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  .stocks-table input[type=number] {
    max-width: 80px;
    text-align: center;
  }